/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 13px; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/*
========================== code starts =============================
*/

.container {
  width: 940px;
  margin: 0 auto;
}

a, span {
  display: inline-block;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.pull_right {
  float: right;
}

.offset_10 {
  padding: 10px;
}

.align_center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
  background: url(../images/bg-body.png) no-repeat center top #365870;
}

header {
  padding: 10px 0;
  position: relative;
  height: 50px;
  clear: both;
  text-align: center;
}

a#logo_link {
  width: 181px;
  height: 30px;
  background: url(../images/logo.png) no-repeat;
}

header p {
  padding-top: 20px;
  color: #4d4d4d;
  text-shadow: 0 1px rgba(255,255,255,0.75);
}

section h1 {
  text-align: center;
  font-family: times, times new roman, serif;
  color: #fcfcfc;
  font-style: oblique;
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: normal !important;
  text-shadow: #000 0 1px 6px;
}

#main_section {
  position: relative;
  width: 100%;
  min-height: 500px;
  background: url(../images/section-body.png) repeat-y;
  margin: 81px 0 58px;
}

#main_section:before {
  content: "";
  position: absolute;
  top: -81px;
  left: 0;
  width: 940px;
  height: 81px;
  background: url(../images/section-head.png) no-repeat;
}

#main_section:after {
  content: "";
  position: absolute;
  bottom: -58px;
  left: 0;
  width: 940px;
  height: 58px;
  background: url(../images/section-foot.png) no-repeat;
}

#main_section .expiration {
  position: absolute;
  font-style: italic;
  top: -30px;
  right: 20px;
  color: #7A6050;
}

.gift_pane {
  width: 440px;
  height: 160px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

.gift_pane .left_col,
.gift_pane .right_col {
  width: 220px;
  height: 160px;
  overflow: hidden;
  float: left;
  background: #fff;
  position: relative;
  z-index: 2;
}

.gift_pane .left_col {
  border-radius: 4px 0 0 4px;
}

.gift_pane .right_col {
  text-align: center;
  border-radius: 0 4px 4px 0;
}

.gift_pane .left_col:after {
  content: "";
  width: 7px;
  height: 160px;
  background: url(../images/shadow-left.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.gift_pane .right_col:after {
  content: "";
  width: 7px;
  height: 160px;
  background: url(../images/shadow-right.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.gift_pane .left_col img {
  min-width: 220px;
  max-width: 250px;
  min-height: 160px;
}

.gift_pane .logo_row {
  padding: 6px 0;
}

.gift_pane span.logo {
  width: 60px;
  height: 33px;
  text-align: center;
}

.gift_pane span.logo {
  width: 60px;
  height: 33px;
  text-align: center;
}

.gift_pane span.logo.full {
  width: 200px;
  height: 33px;
  text-align: center;
}

.gift_pane span.logo img {
  max-width: 60px;
  max-height: 33px;
}

.gift_pane span.logo.full img {
  max-width: 200px;
}

.gift_pane .tagline {
  max-width: 130px;
  vertical-align: middle;
  font-size: 10px;
  color: #736757;
}

.gift_pane h2 {
  color: #0071BC;
  font-size: 15px;
  line-height: 1.1em;
  padding: 0 0 5px;
}

.gift_pane p {
  font-size: 11px;
  color: #736757;
  padding: 4px 0;
  text-align: center;
}

.gift_pane p a {
  color: #3A332C;
}

.gift_pane .claim_button {
  width: 131px;
  height: 40px;
  background: url(../images/button-claim-2.png) no-repeat;
  border: none;
  outline: none;
}

.gift_pane .claimed_button {
  width: 131px;
  height: 40px;
  background: url(../images/button-claimed.png) no-repeat;
  border: none;
  outline: none;
}

.gift_pane .button_row {
  padding-top: 8px;
}

.gift_pane .spotlight {
  font-size: 21px;
  font-weight: bold;
  color: #7D7467;
  text-align: right;
  line-height: 0.9em;
  vertical-align: top;
  padding-top: 4px;
  padding-right: 11px;
}

.gift_pane .spotlight .free {
  font-size: 12px;
}

.gift_pane:after {
  content: "";
  width: 210px;
  height: 10px;
  background: url(../images/tilt-shadow.png) no-repeat;
  position: absolute;
  z-index: 0;
  bottom: -8px;
  right: 5px;
}

.button_more {
  width: 239px;
  height: 40px;
  background: url(../images/button-more.png) no-repeat;
}

#contact_section {
  margin-top: 25px;
  padding-top: 40px;
  background: url(../images/section-divider.png) no-repeat center top;
  text-align: center;
  color: #9E856B;
  font-size: 21px;
  font-family: optima, times, times new roman, serif;
  line-height: 1.5em;
  text-shadow: 0 1px #fff;
}

footer {
  padding: 0 0 110px;
  clear: both;
}

footer .pull_right {
  font-style: italic;
  color: #666;
  font-size: 10px;
  padding-top: 3px;
}

#progress_wrapper {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background: url(../images/bg-progress-wrapper.png) repeat-x;
  padding-top: 15px;
}

#progress_wrapper h2 {
  height: 17px;
  margin-bottom: 6px;
  background: url(../images/how-this-works.png) no-repeat center center;
}

#progress_bar {
  width: 940px;
  height: 56px;
  background: url(../images/step-1.png) no-repeat center top;
}

#page_corner {
  display: block;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 200px;
  height: 131px;
  background: url(../images/corner-closed.png) no-repeat right top;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

#page_corner:hover {
  background: url(../images/corner-open.png) no-repeat right top;
}

/*
========================== code ends =============================
*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visible { display: block !important; visibility: visible; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
